.main {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0 0 25px 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;

}

h1 {
    color: white;
}

p {
    font-size: medium;
    font-weight: 600;
}

h6 {
    font-size: medium;
    font-weight: 600;
}

.result {
    padding: 20px;
    border-radius: 0 0 30px 30px;
    text-align: center;
}

.result {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.r {
    color: #9DB2BF;
    font-weight: 600;
    font-size: 25px;
}

.g {
    padding: 5px;
}

.score {
    border: 1px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    padding: 2.0rem;
    margin-bottom: 1rem;
}

.score {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.of {
    color: #9DB2BF;
}

.comment {
    color: #9DB2BF;
    text-align: center;
}

.sum {
    width: fit-content;
    padding: 2px;
    padding-bottom: 10px;
    flex: content;
}

.sumContainer {
    position: relative;
    padding-bottom: 20px;
    text-align: center;
}

.s {
    margin: 1rem;
    font-size: medium;
    font-weight: 600;
}

.stats {
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    margin-left: 2rem;
    padding: 1rem;
    width: fit-content;
}

.x {
    padding-right: 9rem;
}

.reaction {
    background-color: #F8E8EE;
}

.a {
    color: hsl(0, 100%, 67%);
    font-weight: 600;
}

.memory {
    background-color: #FBFFDC;
}

.b {
    color: hsl(39, 100%, 56%);
    font-weight: 600;
}

.verbal {
    background-color: #DFFFD8;
}

.c {
    color: hsl(166, 100%, 37%);
    font-weight: 600;
}

.visual {
    background-color: #E5E0FF;
}

.d {
    color: hsl(234, 85%, 45%);
    font-weight: 600;
}

.butt {
    margin-top: 25px;
    margin-left: 15px;
}

@media screen and (max-width: 390px) {
    .x {
        padding-right: 8rem;
    }
}

@media screen and (max-width: 350px) {
    .x {
        padding-right: 7rem;
    }
}

